In [1]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("V:\PGDM\Trimester 2\Python for Data Science\Projects\IMDB_Dataset_Analysis\imdb_movies.csv")

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\vrith\AppData\Local\Temp\ipykernel_33756\4110202605.py:1: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_csv("V:\PGDM\Trimester 2\Python for Data Science\Projects\IMDB_Dataset_Analysis\imdb_movies.csv")

In [19]:
df

,Names,Date,Score,Genre,Overview,Crew,Original_title,Status,Original_Language,Budget,Revenue,Country
0,Creed III,"Thursday, March 2, 2023",73,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,"Thursday, December 15, 2022",78,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,"Wednesday, April 5, 2023",76,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,"Thursday, January 5, 2023",70,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,"Friday, March 17, 2023",61,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US
...,...,...,...,...,...,...,...,...,...,...,...,...
10173,20th Century Women,"Wednesday, December 28, 2016",73,Drama,"In 1979 Santa Barbara, California, Dorothea Fi...","Annette Bening, Dorothea Fields, Lucas Jade Zu...",20th Century Women,Released,English,7000000.0,9.353729e+06,US
10174,Delta Force 2: The Colombian Connection,"Friday, August 24, 1990",54,Action,When DEA agents are taken captive by a ruthles...,"Chuck Norris, Col. Scott McCoy, Billy Drago, R...",Delta Force 2: The Colombian Connection,Released,English,9145817.8,6.698361e+06,US
10175,The Russia House,"Friday, December 21, 1990",61,"Drama, Thriller, Romance","Barley Scott Blair, a Lisbon-based editor of R...","Sean Connery, Bartholomew 'Barley' Scott Blair...",The Russia House,Released,English,21800000.0,2.299799e+07,US
10176,Darkman II: The Return of Durant,"Tuesday, July 11, 1995",55,"Action, Adventure, Science Fiction, Thriller, ...",Darkman and Durant return and they hate each o...,"Larry Drake, Robert G. Durant, Arnold Vosloo, ...",Darkman II: The Return of Durant,Released,English,116000000.0,4.756613e+08,US
10177,The Swan Princess: A Royal Wedding,"Monday, July 20, 2020",70,"Animation, Family, Fantasy",Princess Odette and Prince Derek are going to ...,"Nina Herzog, Princess Odette (voice), Yuri Low...",The Swan Princess: A Royal Wedding,Released,English,92400000.0,5.394018e+08,GB

In [20]:
df.columns

Index(['Names', 'Date', 'Score', 'Genre', 'Overview', 'Crew', 'Original_title',
       'Status', 'Original_Language', 'Budget', 'Revenue', 'Country'],
      dtype='object')

In [24]:
df['Country'].value_counts().head(3) # top 3 countries with maximum number of movies

Country
AU    4885
US    2750
JP     538
Name: count, dtype: int64

In [27]:
df['Genre'].value_counts().head(3) # top performing genre

Genre
Drama             556
Comedy            373
Drama, Romance    268
Name: count, dtype: int64

In [28]:
df.columns

Index(['Names', 'Date', 'Score', 'Genre', 'Overview', 'Crew', 'Original_title',
       'Status', 'Original_Language', 'Budget', 'Revenue', 'Country'],
      dtype='object')

In [52]:
df[df['Budget'] > df['Revenue']].shape # total number of flop movies

(1995, 13)

In [38]:
df['Month'] = df['Date'].str.extract(r', (\w+) ')

In [47]:
df[df['Budget'] > df['Revenue']]['Month'].value_counts().head(3) # Top 3 months where movies reported flop status

Month
October      207
April        201
September    196
Name: count, dtype: int64